{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет, я автор</h1>
  <p>
      Меня зовут Иван, мне 22 года и я нефтяник.
      В конце 2022 года я понял, что не хочу ездить по вахтам, 
      не видеть семью месяцами и решил кардинально изменить род своей деятельности.
      Сейчас всё свободное время уделяю учебе, вроде даже добился кое какого прогресса,
      на данный момент (06.02.2023) могу с уверенностью сказать, что владею следующими навыками.
    <ul>
      <li> Верстка страниц, с адаптацией под мобильные устройства - CSS/SCSS</li>
      <li> Знаком с Python (основы). Django/Маршруты, контроллеры/шаблоны/ /Django Forms/ CRUD/ Авторизация и регистрация/Написание Unittests/ </li>
      <li> Знаком с SQL на уровне написания типовых простых запросов, с целью получения выборки данных из БД </li>
      <li> Знаком с фреймворком Django, собственно, на его основе и сделан этот сайт :) </li>
  </p>
</div>
{% endblock %}
