{% extends 'base.html' %}
{% load user_filters %}
{% load thumbnail %}
{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          {% if post.group %}
          <li class="list-group-item">
            Группа: {{ post.group.title }}
            <p>
            <a href="{% url 'posts:group_list' post.group.slug %}">
              все записи группы
            </a>
            </p>
          </li>
            {% endif %}
          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: <span>{{ post.author.posts.all.count }}</span>
          </li>
          <li class="list-group-item">
            <a href="{% url 'posts:profile' post.author %}">
              все посты пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>
          {{ post.text|linebreaksbr }}
        </p>
        {% thumbnail post.image "300x200" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        {% if request.user == post.author %}
        <p>
        <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
          Редактировать запись
        </a>
        <a button type="button" class="btn btn-danger" href="{% url 'posts:post_delete' post.pk %}">Удалить запись</a>
        </p>
        {% endif %}
      </article>
      {% if comments.count != 0 %}
      {% with comments.count as total_comments %}
      <hr>
      <figure>
        <blockquote class="blockquote">
          <div class="shadow-sm p-2 bg-white rounded">
            Комментариев: {{ total_comments }}
          </div>
        </blockquote>
      </figure>
      {% endwith %}
      {% endif %}
      {% for comment in comments %}
        <div class="media mb-4">
            <div class="media-body">
              <ul>
                <li>
                  Автор:
                  <a href="{% url 'posts:profile' comment.author.username %}">{{ comment.author.get_full_name }}</a>
                </li>
                <li>
                  Дата публикации: {{ comment.created|date:"m/d/y" }}
                </li>
              </ul>
                <p class="text-break">
                  {{ comment.text|linebreaksbr }}
                </p>
                {% if user == comment.author %}
                <p>
                  <a href="{% url 'posts:comment_edit' comment.pk %}">
                    Редактировать
                  </a>
                </p>
                <p>
                  <a href="{% url 'posts:comment_delete' comment_id=comment.pk post_id=comment.post.pk %}">
                    Удалить
                  </a>
                </p>
                {% endif %}
            </div>
        </div>
      {% empty %}
      <hr>
      <figure>
        <blockquote class="blockquote">
          <div class="shadow-sm p-2 bg-white rounded">
            Комментариев нет, будь первым! 
          </div>
        </blockquote>
      </figure>
      {% endfor %}
      {% if user.is_authenticated %}
      <div class="card my-4">
        <h5 class="card-header">{{ form.text.help_text}}:</h5>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}" enctype="multipart/form-data">
              {% csrf_token %}      
                <div class="form-group mb-2">
                  {{ form.text|addclass:"form-control" }}
                  <small id="{{ form.text.id_for_label }}-help" class="form-text text-muted">{{ form.text.help_text|safe }}</small>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
