{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="mb-5">
      <h1>Все посты пользователя {{ author.get_full_name }}</h1>
      <h3>Всего постов: {{ author.posts.count }} </h3>
      {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    </div>
      {% for post in page_obj %}
      <article>
      <ul>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      {% if post.group %}
      <ul>
        <li>
          Все записи группы: 
          <a href="{% url 'posts:group_list' post.group.slug %}"> {{ post.group.title }}</a>
        </li>
      </ul>
      {% endif %}
      {% thumbnail post.image "300x300" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>
        {{ post.text }}
      </p>
      <a href="{% url 'posts:post_detail' post.pk %}">Перейти к посту</a>
    </article>
    {% if not forloop.last %}
    <hr>{% endif %}
    {% empty %}
    <p>Постов нет</p>
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
